# Dictionario de Datos
Columna     Explicación
Index    Símbolo para los índices
Dat    Fecha de observaciónon
Op    Precio de aperturaice
H    Precio más alto durante el día day        Precio más bajo durante el díag day
    Precio de cierre price
AdjPrecio de cierre ajustado división de acciones y dividendovidends    Número de acciones comerciada durante del díading day
Precio de cierre en UDSms of USD

In [2]:
import pandas as pd
pd.read_csv("stock_data.csv", index_col=None)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0,338.923013
...,...,...,...,...,...,...,...,...,...
2217,HSI,1995-12-08,9842.599609,9878.799805,9795.799805,9863.599609,9863.599609,0,1282.267949
2218,HSI,1995-12-11,9868.500000,9868.500000,9814.700195,9835.200195,9835.200195,0,1278.576025
2219,HSI,1995-12-12,9846.400391,9947.700195,9840.900391,9927.799805,9927.799805,0,1290.613975
2220,HSI,1995-12-13,9927.400391,9969.599609,9903.299805,9920.900391,9920.900391,0,1289.717051
2221,HSI,1995-12-14,9931.099609,9931.099609,9875.599609,9912.799805,9912.799805,0,1288.663975